<h1>Meet the Team!</h1>
<p>Peter Shaw is an aspiring entrepreneur who wants to create webpages for the betterment of society.  Actually nah, he just wants money. Lol. </p>

<p>You can view his Resume <%= link_to 'here', '#', {:style=>'color:white;', :class => "css_class"} %></p>

<br></br>

<table class="table table-bordered table-hover">
  <th>Project</td><th>Success</th>
  <tr><td>Life</td><td>Ok</td></tr>
</table>
<br></br>
<h3>Write a comment, it will be posted here!</h3>
<textarea class="form-control" rows="3"></textarea>
<br></br>
<form>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
 <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
 <br></br>
 <h6>Troll. This form has no action.  It does nothing. </h6>